<div class="container">
    <div align="end">
        <mat-icon matTooltip="Cerrar sesión" class="icon-logout cursor" (click)="logOut()">logout</mat-icon>
    </div>
    <div class="row d-flex justify-content-center">
        <div>
            <h2>Proyectos</h2>
            <button mat-raised-button (click)="openDialog(null, 'Crear')" class="button-create">Crear<mat-icon
                    class="cursor icon-add">add</mat-icon></button>
        </div>
        <mat-card appearance="outlined" class="content-card  m-3" *ngFor="let project of projects">
            <mat-card-header class="d-flex justify-content-between">
                <mat-card-title><strong>Nombre:</strong> {{project.name}}</mat-card-title>
                <div>
                    <mat-icon class="icon-edit cursor" (click)="openDialog(project, 'Editar')">edit</mat-icon>
                    <mat-icon class="icon-delete cursor" (click)="delete(project)">delete</mat-icon>
                </div>
            </mat-card-header>
            <mat-card-content align="center" class="mt-4">
                <strong>Usuario: </strong>
                <p>{{project.username}}</p>
                <strong>Correo electrónico: </strong>
                <p>{{project.email}}</p>
                <strong>Web: </strong>
                <p>
                    <a href="{{project.website}}">{{project.website}}</a>
                </p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-stroked-button (click)="goToDetail(project)"> Ver tareas</button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>