.content {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%) !important;
}

.card {
    max-width: 550px;
}

.button-register {
    background: rgba(0, 115, 255, 0.977) !important;
    color: white !important;
}