.cursor {
    cursor: pointer;
}

.icon-delete {
    color: rgb(215, 0, 0);
}

.icon-edit {
    color: #32CD32;;
}

.button-create {
    background-color: #32CD32 !important;
    color: white !important;
}